.rainbow-text {
    background: linear-gradient(270deg,
            #ff0000,
            #ff9900,
            #ffff00,
            #00ff00,
            #00ffff,
            #0000ff,
            #9900ff,
            #ff0000);
    background-size: 1600% 1600%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 6s ease infinite;
}

.rainbow-text.active {
    animation: none;
    background: none;
    -webkit-text-fill-color: #9b59b6;
    color: #9b59b6;
}

@keyframes rainbowMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}